<form [formGroup]="registerForm" class="fxFlexbox fxLayoutColumn" (ngSubmit)="onRegisterSubmitted($event)">
  <mat-form-field>
    <mat-label>Identifiant</mat-label>
    <input matInput id="loginInput" type="text" placeholder="Identifiant" [formControl]="loginFC"/>
    <mat-error *ngIf="loginFC.hasError('required')">L'identifiant est obligatoire</mat-error>
    <mat-error *ngIf="loginFC.hasError('loginAlreadyUsed')">L'identifiant est indisponible, choisissez en un autre</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput id="passwordInput" type="password" placeholder="Mot de passe" [formControl]="passwordFC"/>
    <mat-error *ngIf="passwordFC.getError('required')">Le mot de passe est obligatoire</mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">
    Créer un compte <mat-progress-spinner *ngIf="submitPending"></mat-progress-spinner>
  </button>
</form>
