:host {
  display: block;

  button {
    width: 110px;
  }

  @media screen and (max-width: 500px) {
    button {
      display: none;
    }
    .mot-input {
      margin-right: 0 !important;
    }
  }


  @media screen and (min-width: 800px) {
    input {
      font: 48px monospace;
      width: 48px;
    }
  }

  @media screen and (max-width: 800px) and (min-width: 601px) {
    input {
      font: 38px monospace;
      width: 38px;
    }
  }

  @media screen and (max-width: 600px) and (min-width: 281px) {
    input {
      font: 32px monospace;
      width: 32px;
    }
  }

  @media screen and (max-width: 280px) {
    input {
      font: 24px monospace;
      width: 24px;
    }
  }

  input {
    text-transform: capitalize;
    text-align: center;
    border: 1px solid black;
    -webkit-appearance: none;
    outline: none;
    background: rgba(200, 200, 200, 0.7);
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

    &.well-placed-letter {
      background: RGBA(0, 255, 0, 0.7) !important;
    }

    &.misplaced-letter {
      background: RGBA(255, 255, 0, 0.7) !important;
    }

    &.bad-letter {
      background: rgba(169, 169, 169, 1) !important;
    }
  }

  .dark-theme {

    input {
      border: 1px solid black;
      color: #FFFFFF;
      background: rgba(100, 100, 100, 0.7);

      &.well-placed-letter {
        background: RGBA(0, 150, 0, 0.7) !important;
      }

      &.misplaced-letter {
        background: RGBA(150, 150, 0, 0.7) !important;
      }

      &.bad-letter {
        background: rgba(70, 70, 70, 1) !important;
      }
    }
  }
}
