<div class="fxFlexbox fxLayoutAlignSpaceBetweenCenter fxLayoutColumn main-flex-container" appDarkMode>
  <div appDarkMode>
    <ng-container  *ngIf="motADeviner$ | async as motADeviner">
      <app-motus-mot-input
        #motusMotInputComponent
        [motADeviner]="motADeviner"
        [active]="nbTryIterator == nbTryActive"
        (validateEvent)="onValidateMot($event, nbTryIterator)"
        *ngFor="let nbTryIterator of nbTryArray"
        [validated]="validations[nbTryIterator]">
      </app-motus-mot-input>
    </ng-container>
  </div>
  <div class="fxFlexbox fxLayoutAlignCenterCenter keyboard-flexbox">
    <div class="simple-keyboard" appDarkMode></div>
  </div>
</div>