<div class="app-container" appDarkMode>
  <mat-toolbar class="fxFlexbox fxLayoutAlignSpaceBetweenCenter" color="primary" >
    <div class="fxFlexbox fxLayoutAlignStartCenter">
      <button (click)="mainDrawer.toggle()" mat-icon-button *ngIf="!isProd">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Les jeux</h1>
    </div>
    <div>
      <ng-container *ngIf="!isProd">
        <div *ngIf="currentUser$ | async as connectedUser; else noConnectedUser">
          <button [matMenuTriggerFor]="menuUser" class="fxFlexbox fxLayoutAlignCenterCenter" mat-button>
            {{connectedUser.displayName}}
            <mat-icon>manage_accounts</mat-icon>
          </button>
          <mat-menu #menuUser="matMenu">
            <button (click)="seDeconnecterClickHandler()" mat-menu-item>Se deconnecter</button>
          </mat-menu>
        </div>
        <ng-template #noConnectedUser>
          <div>
            <button (click)="onLoginClicked()" mat-button>
              Se connecter
              <mat-icon>login</mat-icon>
            </button>
          </div>
        </ng-template>
      </ng-container>
    </div>
    <mat-slide-toggle [formControl]="darkModeFC">
      Mode sombre
    </mat-slide-toggle>
  </mat-toolbar>
  <mat-drawer-container >
    <mat-drawer #mainDrawer mode="over">
      <mat-nav-list>
        <a mat-list-item><mat-icon>engineering</mat-icon> Administration</a>
        <a mat-list-item><mat-icon>group_add</mat-icon> Créer une partie</a>
        <a mat-list-item><mat-icon>groups</mat-icon> Rejoindre une partie</a>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet>
      </router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-loader-overlay *ngIf="loader$ | async"></app-loader-overlay>
</div>


