<div class="app-container" appDarkMode>
  <mat-toolbar class="fxFlexbox fxLayoutAlignSpaceBetweenCenter" color="primary" >
    <div class="fxFlexbox fxLayoutAlignStartCenter">
      <button (click)="mainDrawer.toggle()" mat-icon-button *ngIf="!isProd">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Les jeux</h1>
    </div>
    <mat-slide-toggle [formControl]="darkModeFC">
      Mode sombre
    </mat-slide-toggle>
  </mat-toolbar>
  <mat-drawer-container >
    <mat-drawer #mainDrawer mode="over">
      <mat-nav-list>
        <a mat-list-item><mat-icon>engineering</mat-icon> Administration</a>
        <a mat-list-item [routerLink]="'game/create'"><mat-icon>group_add</mat-icon> Créer une partie</a>
        <a mat-list-item><mat-icon>groups</mat-icon> Rejoindre une partie</a>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet>
      </router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-loader-overlay *ngIf="loader$ | async"></app-loader-overlay>
</div>


