<mat-list dense>
  <ng-container *ngIf="ranks && ranks.length > 0; else noResults">
    <mat-list-item *ngFor="let rank of ranks; let i = index" class="fxFlexbox fxLayoutRow fxLayoutGap10 fxLayoutAlignStartCenter"
    [ngClass]="{'my-score': rank.me}">
    <div class="left-part">
      <div class="rank-number">{{i+1}}.</div>
      <div class="rank-playername">{{rank.playerName|| 'Inconnu'}}</div>
    </div>
      <div class="right-part">
        <div class="rank-propositions">{{rank.nbProposition}} essai{{rank.nbProposition > 1 ? 's' : ''}}</div>
        <div class="rank-points">{{rank.points}} pts</div>
      </div>
    </mat-list-item>
   </ng-container>
  <ng-template #noResults>
    <mat-list-item> Aucun classement enregistré </mat-list-item>
  </ng-template>
</mat-list>