:host {
  display: flex;
  align-items: center;
  justify-content: center;

  .bouton-navigation.mat-ripple {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background: #FFF;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    cursor: pointer;

    span {
      margin-bottom: 20px;
    }

    .mat-icon {
      height: 48px;
      width: 48px;
      font-size: 48px;
    }

    &.dark-theme {
      background: #383839;

      span {
        color: white;
      }

      .mat-icon {
        color: white;
      }
    }
  }
}
